section.blog {
    text-align: center;
    & h1 {
        margin-bottom: 30px;
    }
    & p {
        margin-bottom: 30px;
    }

& article {
        margin-bottom: 20px;
        padding: 50px 10px;
        border: 1px solid grey;
        border-style: dotted;
    & p {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
}