//Breakpoints
$bp-tablet: 768px;
$bp-desktop: 1200px;

// Fonts
$primary-font: "Space Grotesk", sans-serif;
$secondary-font: "Roboto Condensed", sans-serif;


// Colors
$color-blue:  cadetblue;
$color-grey: darkgrey;

